.App {
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
  color: white;
}
body {
  background-color: #282c34;
}
.footer {
  margin-top: 1rem;
  padding: 2px 0px 2px 0px;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
}
