li {
  list-style-type: none;
  color: white;
  font-size: 1.8rem !important;
}
/* ul {
  display: flex;
  justify-content: space-around;
  margin: 100px;
} */
li.link1:hover,
li.link1:active {
  transform: scale(1.2);
}
li.link2:hover,
li.link2:active {
  transform: scale(1.2);
}
li.link3:hover,
li.link3:active {
  transform: scale(1.2);
}
li.link4:hover,
li.link4:active {
  transform: scale(1.2);
}

@media (max-width: 450px) {
  ul {
    display: inline-block;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 5px 0;
  }
}
