.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resumeLink {
  display: block;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: whitesmoke;
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  padding: 10px;
  letter-spacing: 2px;
  transition: all 0.25s;
}

.resumeLink:hover {
  letter-spacing: 15px;
}
